.flex-container {
    display: flex;
    flex-flow: row wrap;
    /* flex-wrap: nowrap; */
    /* background-color: DodgerBlue; */
    justify-content: center;
    align-items: center;
    min-height: 600px;
    /* width: 800px; */
  }
  h1{
      text-align: center;
      color: #FFBF00;
  }
  /* .flex-container {
    /* background-color: #f1f1f1; */
    /* min-width: 500px;
    min-height: 300px;
    margin: 10px; */
    /* text-align: center;
    line-height: 75px;
    font-size: 30px;
    background-size: cover;
    background-position: center; 
  } */

  /* .pic1{
    background: url(../img/bg1.jpg) top no-repeat;
  } */
  #pic1,#pic2,#pic3,#pic4{
    width: 450px;
    height: 250px;
    margin: 20px;
  }
  /* .pic2{
      background: url(../img/gallery1.jpg) top no-repeat;
  }
  .pic3{
    background: url(../img/gallery2.jpg) top no-repeat;
}
.pic4{
    background: url(../img/gallery3.jpg) top no-repeat;
} */

@media screen and (max-width:800px){
    .flex-container{
        flex-direction: column ;
    }
}